
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUTECH</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Custom/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <style>
        .Link {
            float: right;
        }

        .navbar {
        }
    </style>
</head>
<body>

    @*<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">HUTECH</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Xin chào <span id="test"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="~/Manage/Logout"> Sửa tài khản</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Manage/Logout">Đăng xuất</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>

        </nav>*@
    <header class="header" >
        <div class="header__container">
            @*<img src="assets/img/perfil.jpg" alt="" class="header__img">*@

            <a href="~/Manage/Redirect" class="header__logo">HUTECH</a>

            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
            <ul class="navbar-nav ml-auto" id="displaynone">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Xin chào <span id="test"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/Manage/Logout"> Sửa tài khản</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="~/Manage/Logout">Đăng xuất</a>

                        <input type="text" style="display:none;"  name="name" value="@ViewBag.name" id="name" />
                    </div>
                </li>

            </ul>
        </div>
    </header>
    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="~/manage/Redirect" class="nav__link nav__logo">
                    <i class='bx bxs-disc nav__icon'></i>
                    <span class="nav__logo-name">HUTECH</span>
                    
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Profile</h3>

                        <a href="#" class="nav__link active">
                            <i class='bx bx-home nav__icon'></i>
                            <span class="nav__name">Home</span>
                        </a>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">tài khoản</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="#" class="nav__dropdown-item">Thông tin tài khoản</a>
                                    <a href="#" class="nav__dropdown-item"> Đổi mật khẩu</a>
                                        @*<a href="#" class="nav__dropdown-item">Accounts</a>*@
                                </div>
                            </div>
                        </div>

                        @*<a href="#" class="nav__link">
                                <i class='bx bx-message-rounded nav__icon'></i>
                                <span class="nav__name">Messages</span>
                            </a>*@
                    </div>

                    <div class="nav__items">
                        <h3 class="nav__subtitle">Menu</h3>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-bell nav__icon'></i>
                                <span class="nav__name">Menu</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="~/Manage/ManageAccount" class="nav__dropdown-item">Quản lý tài khoản</a>
                                    <a href="~/manage/ManageStudent" class="nav__dropdown-item">Quản lý sinh viên</a>
                                    <a href="~/manage/ManageTeacher" class="nav__dropdown-item">Quản lý giảng viên</a>
                                    <a href="~/Manage/ManageSchedule/0" class="nav__dropdown-item">Quản lý thời khóa biểu</a>
                                </div>
                            </div>

                        </div>

                        @*<a href="#" class="nav__link">
                                <i class='bx bx-compass nav__icon'></i>
                                <span class="nav__name">Explore</span>
                            </a>
                            <a href="#" class="nav__link">
                                <i class='bx bx-bookmark nav__icon'></i>
                                <span class="nav__name">Saved</span>
                            </a>*@
                    </div>
                </div>
            </div>

            <a href="~/Manage/Logout" class="nav__link nav__logout">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>


    <div class="container-fluid body-content">
        @RenderBody()
        <hr />

    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - HUTECH</p>
    </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>

        var viewbag = document.getElementById("name").value;
        var a = document.getElementById("test");
        a.innerHTML = viewbag;

    </script>
</body>

</html>
