@model IEnumerable<WebApplication1.Models.FORMLUUTRU>

@{
    ViewBag.Title = "TeacherCheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>QrCodeGenarate</title>
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<h2>TeacherCheckIn</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã giảng viên
        </th>
        <th>
            Tên giảng viên
        </th>
        <th>
            ID thời khóa biểu
        </th>
        <th>
            Mã môn học
        </th>
        <th>
            Tên môn học
        </th>
        <th>
            Buổi điểm danh
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <form action="/checkIn/EditTeacherCheckIn" method="post">
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.MAGIANGVIEN)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.GIANGVIEN.TEN)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.IDTKB)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.TKB.MAMH)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.TKB.MONHOC.TENMONHOC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYHOCTHU)
                </td>
                <td style="display:none">
                    <input type="text" id="iditem" name="id" value="@item.ID" />
                    <input type="text" name="trangthai" value="@item.TRANGTHAI" />
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Thay đổi</button> |<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.ID">Tạo mã QR</button><button onclick="myFunction()" id="DeleteButton" class="btn btn-danger">Xóa</button><butto id="kiemtra" class="btn btn-primary">@Html.ActionLink("Kiểm tra", "kiemtra", new {id = item.IDTKB})</butto>
                </td>
            </tr>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Điểm danh nào!!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/CheckIn/QrCodeGenarate" method="post">
                        <div class="modal-body">
                            <div class="input-group" style="display: none;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">id</span>
                                </div>
                                <input type="text" name="id" class="form-control" value="@item.ID">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Mã sinh viên</span>
                                </div>
                                <input type="text" name="txtQRCode" class="form-control" value="https://localhost:44349/CheckIn/Form/@item.ID?b=@item.NGAYHOCTHU">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Tạo mã</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }

</table>

<script>
    function myFunction() {
        let thisbtn = $(this);
        let id = document.getElementById("iditem").value;
        //let fileImg = document.getElementById("fileImg").files[0];
        //var file = $("#fileImg")[0].files[0];
        var formData = new FormData();
        formData.append('id', id)
        //formData.append('fileImg', $('#themFileImg')[0].files[0]);
        //console.log(id);
        $.ajax({
            url: "/CheckIn/XoaFormLuuTru",
            type: "POST",

            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data) {
                    alert("Xoá thành công");
                    window.location.reload();
                }
                else
                    alert("Xóa thất bại");
                window.location.reload();
            }
        })
    }


    
</script>

