@model IEnumerable<WebApplication1.Models.FORMLUUTRU>

@{
    ViewBag.Title = "TeacherCheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TeacherCheckIn</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã giảng viên
        </th>
        <th>
            Tên giảng viên
        </th>
        <th>
            ID thời khóa biểu
        </th>
        <th>
            Mã môn học
        </th>
        <th>
            Tên môn học
        </th>
        <th>
            Mã xác nhận
        </th>
        <th>
            Trạng thái
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <form action="/checkIn/EditTeacherCheckIn" method="post">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MAGIANGVIEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GIANGVIEN.TEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDTKB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TKB.MAMH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TKB.MONHOC.TENMONHOC)
                </td>
                <td>
                    <input type="number" name="maxacnhan" value="@item.MAXACNHAN" />
                </td>
                <td>
                    <select id="cars" name="trangthai">
                        <option value="1">Hoạt động</option>
                        <option value="0">Không hoạt động</option>
                    </select>
                </td>
                <td style="display:none">
                    <input type="text" name="id" value="@item.ID" />
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Thay đổi</button> | <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.ID">Tạo mã QR</button>
                </td>
                @*<td>
                        @Html.ActionLink("Tạo mã QR", "Test", new { id = item.ID, xyz = item.MAGIANGVIEN, abc =  item.MAXACNHAN })
                    </td>*@
            </tr>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Điểm danh nào!!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/CheckIn/QrCodeGenarate" method="post">
                        <div class="modal-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Mã sinh viên</span>
                                </div>
                                <input type="text" name="txtQRCode" class="form-control" value="https://localhost:44349/CheckIn/Form/@item.ID">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }

</table>

